<p>Hello, I'm Gabe Hess. I live in the mountains of Central Virginia, where I practice the Chinese martial art of kung fu, read voraciously, and write tactlessly. I also enjoy contemplating the many wonders of life and the endless stupidity of intelligent life. I believe truth to be absolute and worth pursuing, and it was with an eye toward spreading these beliefs that I started <a href="https://assortedscraps.com" target="_blank"><em>Assorted Scraps Of Wisdom And Folly</em></a> in the August of 2018 and <a href="https://www.pursuitoft.com" target="_blank"><em>In Pursuit Of Truth</em></a> in November of the same year. Oh, and I also write <a href="https://www.withfeathers.com" target="_blank">poetry</a>.

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="https://assortedscraps.com" target="_blank"><img src="images/aswf.png"> &nbsp Assorted Scraps</a>
  </li>
  <li class="main-list-item">
    <a href="https://www.pursuitoft.com" target="_blank"><img src="images/pot.png"> &nbsp In Pursuit Of Truth</a>
  </li>
  <li class="main-list-item">
    <a href="https://www.withfeathers.com" target="_blank"><img src="images/wf.png"> &nbsp The Thing With Feathers</a>
  </li>
</ul>
