<p>Gabriel Hess lives in the mountains of Central Virginia, where he practices the Chinese martial art of kung fu, reads, and writes with no surplus of tact. He too enjoy pondering the many wonders of life and the endless stupidity of intelligent life. He believes truth to be absolute and worth pursuing, and it was with an eye toward spreading these beliefs that he started <a href="https://assortedscraps.com" target="_blank"><em>Assorted Scraps of Wisdom and Folly</em></a> in the August of 2018 and <a href="https://www.pursuitoft.com" target="_blank"><em>In Pursuit of Truth</em></a> in November of the same year. Having perceived a metrical void, he also writes <a href="https://baublesandfrippery.com" target="_blank">poetry</a>. Life, he believes, is not easy.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="https://assortedscraps.com" target="_blank"><img src="images/aswf.png"> &nbsp Assorted Scraps</a>
  </li>
  <li class="main-list-item">
    <a href="https://www.pursuitoft.com" target="_blank"><img src="images/pot.png"> &nbsp In Pursuit of Truth</a>
  </li>
  <li class="main-list-item">
    <a href="https://baublesandfrippery.com" target="_blank"><img src="images/wf.png"> &nbsp Baubles and Frippery</a>
  </li>
</ul>
