<p>Gabriel Hess reads, writes, thinks, and is unusual in other respects in his home in Central Virginia. He there enjoys the best of both worlds, by being radically orthodox—a conventional contrarian. He wants nothing to do with modern "philosophy," psychology, or political principles. He would rather Karl Marx had never been born. He subscribes to the view of life set forth in Dr. Johnson's pithy saying, "No, Sir, I called the fellow a blockhead at first, and I will call him a blockhead still."</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="https://assortedscraps.com" target="_blank"><img src="images/aswf.png"> &nbsp Assorted Scraps</a>
  </li>
  <li class="main-list-item">
    <a href="https://www.seedofthemustard.com" target="_blank"><img src="images/tms.png"> &nbsp The Mustard Seed</a>
  </li>
  <li class="main-list-item">
    <a href="https://baublesandfrippery.com" target="_blank"><img src="images/wf.png"> &nbsp Baubles and Frippery</a>
  </li>
</ul>
